h1{
  font-size: 40px;
}
h2{
  font-size: 30px;
}
p{
  color: black;
  font-size: 30px;
  font-weight: large;
}
button{
  font-size: 30px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #0308ff;
  width: 120px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  background: linear-gradient(#fed6e3 0%, #ffaaaa 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}

button:active{
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(#fed6e3 0%, #ffbcbc 100%);
}

header{
  color: #ffffff;
  background-color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  align-items: center;
  text-align: center;
}

p#result{
  font-size: 100px;
  text-align: center;
  color: crimson;
}

@keyframes blinking {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.blink {
	animation: blinking 1s ease-in-out infinite alternate;
}



label{
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

label:active{
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

p{
  font-weight:  bold;
}

a{
  text-decoration: none;
}

.box8 {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #232323;
  background: #fff8e8;
  border-left: solid 10px #ffc06e;
  margin-top: 10%;
  margin-bottom: 10%;
}

li {
  font-size: 30px;
  position: relative;
  margin: 0em 0 1em 0px;
  padding: 8px 15px;
  background: #fff0c6;
  border-radius: 30px;
  text-align: center;
}
li:before{font-family: FontAwesome;
  content: "\f111";
  position: absolute;
  font-size: 15px;
  left: -30px;
  bottom: 0;
  color: #fff0c6;
}
li:after{
  font-family: FontAwesome;
  content: "\f111";
  position: absolute;
  font-size: 30px;
  left: -13px;
  bottom: 0;
  color: #fff0c6;
}
li p {
  margin: 0;
  padding: 0;
}

span {
  font-size: 40px;
}
